<div class="p-3 p-sm-5">
    <h2>{{'NOTIFICATION.TITLE' | translate}}</h2>
    <table class="table" *ngIf="notifications.length > 0">
        <thead>
            <tr>
                <th scope="col">{{'NOTIFICATION.TYPE' | translate}}</th>
                <th scope="col">{{'GENERIC.SUPPLIER' | translate}}</th>
                <th scope="col">{{'GENERIC.DATE_SEND' | translate}}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let notification of notifications">
                <th scope="row">{{"ENUMS.NOTIFICATION_TYPES." + notification.notificationType | translate}}</th>
                <td>{{notification.supplierName}}</td>
                <td>{{notification.date | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td><a class="btn btn-principal align-self-end rounded-circle btn-small float-end d-flex align-items-center justify-content-center" (click)="showDetails(notification)"><i class="bi bi-search"></i></a></td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="notifications.length == 0">{{'GENERIC.CONTRACT_NOT_FOUND' | translate}}</div>
</div>