<div class="p-3 p-sm-5">
    <h2>{{'MENU.SEND_NOTIFICATIONS' | translate}}</h2>

    <div class="row py-3">
        <div class="col-12 col-md-4">
            <label class="form-label">{{'CONSUMPTIONS.SELECT_CONTRACT' | translate}}</label>
            <ng-select name="contracts" [items]="contracts" [(ngModel)]="contractNumberSelected"
                bindValue="contractNumber" [searchable]="true" [searchFn]="customSearch">
                <ng-template ng-label-tmp let-item="item">
                    {{item.description}} - {{item.contractNumber}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                    {{item.description}} - {{item.contractNumber}}
                </ng-template>
            </ng-select>
        </div>
        <div class="col">
            <button class="btn btn-principal my-4 btn-block float-end" (click)="search()">{{'GENERIC.SEARCH' |
                translate}}</button>
        </div>
    </div>

    <div class="row">
        <table class="table" *ngIf="users && users.length > 0">
            <thead>
                <tr>
                    <th scope="col">{{'USER.FIRST_NAME' | translate}}</th>
                    <th scope="col">{{'USER.LAST_NAME' | translate}}</th>
                    <th scope="col">{{'USER.EMAIL' | translate}}</th>
                    <th scope="col">Notificar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>
                        {{user.firstName}}
                    </td>
                    <td>
                        {{user.lastName}}
                    </td>
                    <td>
                        {{user.email}}
                    </td>
                    <td>
                        <button class="btn btn-principal align-self-end rounded-circle btn-small me-2" (click)="openModal(user)">
                            <i class="bi bi-envelope"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="users.length == 0">{{'USER.NOT_FOUND' | translate}}</div>
    </div>
</div>