@import "variables.scss";

.btn-principal {
    background-color: $color-blue;
    color: white;
    border-radius: 5rem;
    border: 2px solid $color-blue;
    width: 250px;
    height: 50px;
    &:hover {
        color: $color-blue;
        background-color: white;
    }
}

.btn-small{
    width: 45px;
    height: 45px;
}

.btn-inv-principal {
    background-color: white;
    color: $color-blue;
    border-radius: 5rem;
    border: 2px solid $color-blue;

    &:hover {
        background-color: $color-blue;
        color: white;
    }
}

.btn-delete {
    background-color: $color-red;
    color: white;
    border: 2px solid $color-red;
    &:hover {
        color: $color-red;
        background-color: white;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: $color-blue;
}

input:focus + .slider {
    box-shadow: 0 0 1px $color-blue;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.btn-delete {
    background-color: rgb(231, 104, 82);
    border-color: rgb(231, 104, 82);

    &:hover > i{
        color: rgb(231, 104, 82);
    }
}